@use '../base/variables' as *;

.breadcrumb__item {
    display: inline-block;

    &:not(:last-of-type)::after {
        content: '/';
        margin: 0 5px;
        color: #cccccc;
    }
}

.breadcrumb__link {
    text-decoration: none;
    color: #999999;

    &:hover {
        text-decoration: underline;
    }

    &--active {
        color: #53613F;

        &:hover {
            color: #e8ec77;
        }
    }
}