@use '../base/variables' as *;

// .sidebar removed as it was causing layout issues and is not used in the new design

.left-sidebar {
    padding-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 275px;
    z-index: 0;
    background-color: $nav-bg-color;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.233);
    display: block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    animation: appear 0.2s;

    ul {
        margin-top: 50%;
    }

    li {
        height: 50px;

        &:last-child {
            position: absolute;
            bottom: 0px;
            width: 100%;
            margin-bottom: 15px;
        }
    }

    a {
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: $nav-text-color;

        &:hover {
            background-color: $nav-hover-bg;
            cursor: pointer;
        }
    }
}