@use "sass:color";
@use '../base/variables' as variables;
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: variables.$border-radius; // Usando a variável
    cursor: pointer;
    transition: background-color 0.3s ease;

    // Aninhamento: Estilos para o botão primário
    &--primary {
        background-color: variables.$primary-color;
        color: white;
        border: 1px solid variables.$primary-color;

        // Aninhamento para o estado hover
        &:hover {
            background-color: color.adjust(variables.$primary-color, $lightness: -10%);
            border-color: color.adjust(variables.$primary-color, $lightness: -20%);
        }
    }

    // Aninhamento: Estilos para o botão secundário
    &--secondary {
        background-color: variables.$secondary-color;
        color: white;
        border: 1px solid variables.$secondary-color;

        &:hover {
            background-color: color.adjust(variables.$secondary-color, $lightness: -10%);
        }
    }
}