<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/image/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/image/favicon-16x16.png">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./assets/js/script.js"></script>
    <title>Carrinho - Bennettii</title>
</head>

<body>
    <nav class="navbar">
        <ul class="sidebar">
            <li onclick="esconderBarraLateral()"><a><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                        viewBox="0 -960 960 960" width="24px" fill="#D0D558">
                        <path
                            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                    </svg></a></li>
            <li><a>Categorias</a></li>
            <li><a>Sobre nós</a></li>
            <li><a>SAC</a></li>
            <li><a><img src="./assets/image/cart.png" alt="Sacola">&nbsp;&nbsp;&nbsp; Carrinho</a></li>
            <li><a href="./"><img src="./assets/image/user.png" alt="Usuário">&nbsp;&nbsp;&nbsp; Usuário</a></li>
        </ul>
        <ul>
            <li><a href="#"><img src="./assets/image/bennettii_nobackground_horizontal.png" height="35px"></a></li>
            <input type="text" class="barraPesquisa" placeholder="Buscar...">
            <li class="esconderMobile"><a>Categorias</a></li>
            <li class="esconderMobile"><a>Sobre nós</a></li>
            <li class="esconderMobile"><a>SAC</a></li>
            <li class="esconderMobile"><a><img src="./assets/image/cart.png" alt="Sacola"></a></li>
            <li class="esconderMobile"><a href="./criarconta.html"><img src="./assets/image/user.png" alt="Usuário"></a>
            </li>
            <li onclick="mostrarBarraLateral()" class="menu-btn"><a><svg xmlns="http://www.w3.org/2000/svg"
                        height="50px" viewBox="0 -960 960 960" fill="#D0D558">
                        <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                    </svg></a></li>
        </ul>
    </nav>

    <main>
        <div class="special-margin">
            <div class="carrinho-container">
                <ul class="breadcrumb" style="margin-bottom: 20px; width: 100%;">
                    <li><a href="/">Home</a></li>
                    <li class="active">Carrinho</li>
                </ul>

                <div class="carrinho-lista">
                    <!-- Item 1 -->
                    <div class="carrinho-item">
                        <div class="produto-info">
                            <img src="./assets/image/abraão dormindo.jpg" alt="Produto">
                            <div class="detalhes">
                                <h2>Camisa Polo Orgânica - Verde Oliva</h2>
                                <h5>Tamanho M, Cor: Oliva</h5>
                            </div>
                        </div>

                        <div class="produto-preco separator-left">
                            <span class="negrito">R$ 154,00</span>
                        </div>

                        <div class="produto-qtd separator-left">
                            <div class="quantity-controls">
                                <button class="b-minus">-</button>
                                <span id="qtd_produto">1</span>
                                <button class="b-plus">+</button>
                            </div>
                        </div>

                        <div class="produto-remove separator-left">
                            <button class="b-remove">
                                <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6M14 10V17M10 10V17"
                                        stroke="#000000" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                Excluir
                            </button>
                        </div>
                    </div>

                    <!-- Item 2 -->
                    <div class="carrinho-item">
                        <div class="produto-info">
                            <img src="./assets/image/abraão dormindo.jpg" alt="Produto">
                            <div class="detalhes">
                                <h2>Camisa Polo Orgânica - Verde Oliva</h2>
                                <h5>Tamanho M, Cor: Oliva</h5>
                            </div>
                        </div>

                        <div class="produto-preco separator-left">
                            <span class="negrito">R$ 154,00</span>
                        </div>

                        <div class="produto-qtd separator-left">
                            <div class="quantity-controls">
                                <button class="b-minus">-</button>
                                <span id="qtd_produto">1</span>
                                <button class="b-plus">+</button>
                            </div>
                        </div>

                        <div class="produto-remove separator-left">
                            <button class="b-remove">
                                <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6M14 10V17M10 10V17"
                                        stroke="#000000" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                Excluir
                            </button>
                        </div>
                    </div>
                </div>

                <div class="finalizarpedido">
                    <h3>Subtotal: <span>R$ 462,00</span></h3>
                    <h3>Frete: <span>R$ 25,00</span></h3>
                    <h3>Descontos: <span>- R$ 0,00</span></h3>
                    <div class="divider"></div>

                    <div class="cupom-area">
                        <input type="text" placeholder="Cupom de desconto" class="input-cupom">
                        <button class="btn-cupom">Aplicar</button>
                    </div>

                    <h3 class="total-geral">Total Geral: <span>R$ 487,00</span></h3>
                    <button class="btn-finalizar">Finalizar Compra →</button>
                </div>
            </div>
        </div>
    </main>
</body>

</html>