<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/image/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/image/favicon-16x16.png">


    <!-- Custom CSS -->


    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript"
        src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=ShaJRtk3tJKtjOoOToUpZcvalqymYTt75Sy-CzAXilE31J70BkJcqvCpG0e90Hro8gkObkqNA0V_zEj9eHdp7oLb46yKbhwrB56x2T4GNU9kyt0_wyo_lg4ehLke2ImmWbm9Qi-nH5GjWY51vytWI6rqecWRaGpRmhcohGiLcyYZDfI8fy8fP4zavWLPBSL9nrfcZjLCpOZ45w1DtQcKuZ2pAnlta-U4c7m1Cr_f1Wk2XT-z9Z6NP9Peo7bAWu-wAHdu4YBUFPas2YeHi28Sjg"
        charset="UTF-8"></script>
    <script src="/assets/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <title>Oops!</title>
</head>

<body style="display: flex; justify-content: center; align-items: center; min-height: 80vh;">
    <main class="texto-centro">
        <div>
            <img style="filter: grayscale(100%);" src="/assets/image/bennettii_nobackground.png" height="200px">
            <br><br>
            <h1>{error_code}</h1>
            <h3>Ops! {error_msg}</h3><br>
            <h5>{error_mensage}</h5>
        </div>
    </main>
</body>

</html>