<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/image/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/image/favicon-16x16.png">

    <link rel="stylesheet" href="/css/style.css">
    <script src="/assets/js/script.js"></script>


    <title>Bennettii - Home</title>
</head>

<body>
    <h1>Home</h1>
    <div style="text-align: right; padding: 10px;">
        <a href="/cart">Ver Carrinho</a> |
        <a href="/login">Login</a> |
        <a href="/register">Register</a> |
        <a href="/logout">Logout</a>
    </div>
</body>

</html>