<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->

    <link rel="apple-touch-icon" sizes="180x180" href="assets/image/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/image/favicon-16x16.png">


    <!-- Custom CSS -->


    <link rel="stylesheet" href="/css/style.css">
    <script src="assets/js/script.js"></script>


    <title>Criar conta - Bennettii</title>
</head>

<body>

    <nav class="navbar">
        <ul class="sidebar">
            <li onclick="esconderBarraLateral()"><a><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                        viewBox="0 -960 960 960" width="24px" fill="#D0D558">
                        <path
                            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                    </svg></a></li>
            <li href="#"><a>Produtos</a></li>
            <li href="#"><a>Sobre nós</a></li>
            <li href="#"><a>SAC</a></li>
            <li href="#"><a><img src="./assets/image/cart.png" alt="Sacola">&nbsp;&nbsp;&nbsp; Carrinho</a></li>
            <li href="#"><a href="./criarconta.html"><img src="./assets/image/user.png" alt="Usuário">&nbsp;&nbsp;&nbsp;
                    Usuário</a></li>
        </ul>
        <ul>
            <li><a href="index.html"><img src="./assets/image/bennettii_nobackground_horizontal.png" height="35px"></a>
            </li>
            <li href="#" class="esconderMobile" onclick="mostrarProdutos()"><a>Produtos</a></li>
            <li href="#" class="esconderMobile"><a>Sobre nós</a></li>
            <li href="#" class="esconderMobile"><a>SAC</a></li>
            <li href="#" class="esconderMobile"><a><img src="./assets/image/cart.png" alt="Sacola"></a></li>
            <li href="#" class="esconderMobile"><a href="./criarconta.html"><img src="./assets/image/user.png"
                        alt="Usuário"></a></li>
            <li onclick="mostrarBarraLateral()" class="menu-btn"><a><svg xmlns="http://www.w3.org/2000/svg"
                        height="50px" viewBox="0 -960 960 960" fill="#D0D558">
                        <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                    </svg></a></li>
        </ul>
    </nav>

    <main class="special-margin">
        <div id="login-container">

            <div class="login-modal">
                <form method="POST">
                    <center><img src="assets/image/bennettii_nobackground.png" height="120px"><br></center>
                    <br>
                    <h3>Crie sua conta na Bennettii</h2><br>
                        <h3 class="warning">{error}</h3><br>

                        <label>Nome</label><br>
                        <input required type="text" name="nome" maxlength="255" placeholder="(Ex.: João da Silva)"><br>

                        <label>CPF</label><br>
                        <input required type="text" name="CPF" id="cpf" maxlength="14"
                            placeholder="(Ex.: 123.456.789-00)"><br>
                        <br>

                        <label>Email</label><br>
                        <input required type="email" name="email" maxlength="255"
                            placeholder="(Ex.: seunome@email.com)"><br>

                        <label>Senha</label><br>
                        <input required type="password" name="password" maxlength="255"
                            placeholder="Insira sua senha"><br>
                        <br>

                        <label>Confirmar Senha</label><br>
                        <input required type="password" name="confirm_password" maxlength="255"
                            placeholder="Confirme sua senha"><br>
                        <br>

                        <input required type="checkbox" required>&nbsp; Li e concordo com os <a
                            href=". /termos.html">Termos de Serviço</a>.</span>
                        <br><br>
                        <input type="submit" class="button" value="Criar conta">
                        <br><br>

                        <span class="possuiConta"><a href="/login">Já possui uma conta?</a></span>

                        <input type="hidden" name="csrf_token" value="{csrf_token}">
                </form>
            </div>
        </div>
    </main>

    <!--<script>

        document.getElementById('celular').addEventListener('input', function (e) {
          var x = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,5})(\d{0,4})/);
          e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
        });

    </script>-->
</body>


</html>