<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Favicon -->
    
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/image/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/image/favicon-16x16.png">


    <!-- Custom CSS -->


    <link rel="stylesheet" href="./css/style.css">
    <script src="./assets/js/script.js"></script>
    

    <title>Termos de Serviço - Bennettii</title>
</head>


<body>

  <!-- Construção da Barra de Navegação-->


    <nav class="navbar">
    <ul class="sidebar">
      <li onclick="esconderBarraLateral()"><a><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#D0D558"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
      <li href="#"><a>Categorias</a></li>
      <li href="#"><a>Sobre nós</a></li>
      <li href="#"><a>SAC</a></li>
      <li><a href="./carrinho.html"><img src="./assets/image/cart.png" alt="Sacola">&nbsp;&nbsp;&nbsp; Carrinho</a></li>
      <li href="#"><a href="./cr"><img src="./assets/image/user.png" alt="Usuário">&nbsp;&nbsp;&nbsp; Usuário</a></li>
    </ul>
    <ul>
      <li><a href="#"><img src="./assets/image/bennettii_nobackground_horizontal.png" height="35px"></a></li>
      <li href="#" class="esconderMobile" onclick="mostrarProdutos()"><a>Categorias</a></li>
      <li href="#" class="esconderMobile"><a>Sobre nós</a></li>
      <li href="#" class="esconderMobile"><a>SAC</a></li>
      <li href="#" class="esconderMobile"><a href="./carrinho.html"><img src="./assets/image/cart.png" alt="Sacola"></a></li>
      <li class="esconderMobile"><a href="./criarconta.html"><img src="./assets/image/user.png" alt="Usuário"></a></li>
      <li onclick="mostrarBarraLateral()" class="menu-btn"><a><svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960"fill="#D0D558"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
    </ul>
</nav>

<main>

    <a href="javascript:window.history.back();" class="voltar"><svg width="20px" height="20px" viewBox="0 0 1635 1635" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><path d="M1098.841,18.123l-748.593,748.593c0,0 -29.719,51.028 -8.411,85.794c21.308,34.766 767.658,767.658 767.658,767.658c0,0 40.934,30.841 82.429,0.561c41.495,-30.28 94.205,-94.205 94.205,-94.205c0,0 20.187,-47.102 -14.579,-90.84c-34.766,-43.738 -615.701,-615.701 -615.701,-615.701l626.911,-626.911c0,0 37.013,-34.762 2.247,-91.958c-34.766,-57.196 -91.962,-91.962 -91.962,-91.962c0,0 -68.411,-19.065 -94.205,8.972Z" style="fill:#4d5c49;stroke:#4d5c49;stroke-width:3.19px;"/></svg><span>Voltar</span></a>

    <div class="termosServico">
        <h1>Termos e Condições</h3>
        <br>
        <h2>Indíce</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas sit, aliquid cum ab ea dignissimos impedit voluptatum animi quis cumque qui asperiores tempore et, distinctio laudantium provident eum nisi eius.
        Quibusdam magnam laborum fugit voluptatibus! Autem nesciunt molestias vel dicta temporibus unde officia dolor illo exercitationem voluptatem nisi deleniti velit architecto consectetur, veritatis fuga cum ex est, nostrum quis quisquam?
        Dolore voluptatibus molestiae impedit dolores asperiores rem reprehenderit obcaecati consectetur labore eveniet fugiat id deleniti harum accusantium placeat laborum tenetur, cupiditate consequuntur omnis maiores reiciendis cumque nesciunt. Animi, repellat ratione.
        Nobis est exercitationem facilis! Ipsa eius sunt culpa accusantium non voluptas in libero ut commodi dolorum tempora consequuntur ipsum ducimus nam dolorem iure nulla quis ad illum quaerat, labore eum!
        Id sint dolores non consequatur necessitatibus accusantium obcaecati esse ab natus iure nobis aperiam voluptatem incidunt, rem iste provident voluptates error debitis optio tenetur! Perferendis dolore fuga consequatur est magnam.
        Enim asperiores dicta reprehenderit sapiente rerum, eligendi labore laboriosam, amet consequatur nam minima tenetur laudantium voluptates veritatis nihil laborum. Ullam ea nesciunt atque quis fuga illum error sit quidem et?
        Maxime, assumenda repudiandae dignissimos sed nesciunt incidunt iste qui, voluptatum quas saepe nisi dicta doloribus sit fugiat ut rem magni tempora nostrum rerum unde aspernatur animi nihil voluptatibus. Animi, alias!
        Dolor delectus voluptate molestiae animi alias velit doloribus voluptates ab. A vel mollitia, neque rem dolorum esse laborum numquam alias quis quisquam vitae incidunt. At, illo? Nam sint corrupti dolorum!
        Autem laudantium animi reprehenderit soluta, numquam ex pariatur! Vel eaque, praesentium incidunt et quasi accusamus voluptas dignissimos omnis magnam ut veritatis esse maiores eos explicabo perspiciatis reiciendis cum, nemo quisquam?
        Soluta aspernatur consequatur voluptate incidunt fugit necessitatibus fuga sint in, doloribus, eum ipsum nihil, voluptas saepe ipsam cupiditate minima alias. Accusamus consequatur illo, nisi magnam debitis sit animi odio assumenda!</p>
    </div>
</main>

</body>
</html>